h2{
    color: black;
    font-family:'Courier New';
}

p{
    color: black;
    font-family: 'Courier New';
}

body{
    background-image: url('https://i.pinimg.com/originals/92/f9/5d/92f95d5d3ff21aeee60cd9805e8252cb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}